.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  min-height: 10vh;
  color: white;
  background-color: brown;
}

.nav-link{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.title{
  color: #fc5404;
}

.passage{
  color: #f98404;
}

button{
  width: 120px;
  height: 40px;
  color: #664231;
  background-color: #f98404;
  font-size: 17px;
  border: 0;
  border-radius: 10px;

}

button:hover{
  cursor: pointer;
}
